<h1>Admin::Dashboard#show</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>Categories Counter</strong></h5>
          <p class="card-text">
            <%= link_to @categories_counter, root_path%>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>Products Counter</strong></h5>
          <p class="card-text">
          <%= link_to @products_counter, admin_products_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
